body {
  background-color: #f8f4e1;
}

.votingApp{
  margin: auto;
  width: 405px;
  font-family: sans-serif;
  text-align: center;
}

.voteBox{
  width: 200px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  padding-bottom: 20px;
}

.voteLeft{
  float: left;
}

.voteRight{
  float: left
}
